@using WebApplication4.ViewModels
@model EmployeeListViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetView</title>
</head>
<body>
    <div>
        Hello @Model.UserName
        <hr />
        <div>
            <table>
                <tr>
                    <th>Employee Name</th>
                    <th>Salary</th>
                </tr>
                @foreach (EmployeeViewModel item in Model.Employees)
                {
                    <tr>
                        <td>
                            @item.EmployeeName
                        </td>
                        <td style="background-color:@item.SalaryColor">@item.Salary</td>
                    </tr>
                }
            </table>
        </div>
        <a href="http://www.cnblogs.com/powertoolsteam/p/MVC_two.html">教程</a>



        @*Hello @Model.UserName*@
        @*<hr />
        <div>
            <b>Employee Detail</b><br />
            Employee Name: @Model.EmployeeName<br />
            <span style="background-color:@Model.SalaryColor">
                Employee Salary:@Model.Salary
            </span>
        </div>*@

        @*@{
        WebApplication4.Models.Employee emp = (WebApplication4.Models.Employee) ViewBag.Employee;
    }
    <b>Employee Details</b><br />
    Employee Name:@Model.FirstName @Model.LastName
    @if (Model.Salary > 15000)
    {
        <span style="background-color:yellow">Employee Salary:@Model.Salary.ToString("C")</span>
    }
    else
    {
        <span style="background-color:green">Employee Salary:@Model.Salary.ToString("C")</span>
    }
    Employee Name:@emp.FirstName @emp.LastName<br />
    Employee Salary:@emp.Salary.ToString("C");
    @ViewBag.Employee.FirstName @ViewBag.Employee.LastName<br />
    Employee Salary:@ViewBag.Employee.Salary.ToString("C");*@
    </div>
</body>
</html>
